
body {background:#1d1d1d;}
* {box-sizing: border-box;}

body {opacity:0;transition:.2s all;}
body.on {opacity: 1;}

.tit {text-align: center;}
.sec1 {position:relative;min-height: 2000px;background:url(../img/section1/sec1_bg2.png) no-repeat left 50% top 0;padding:0 40px;padding-top:83px;}
.sec1 .title {position:relative;text-align: center;font-size: 0;}
.sec1 .title div {position:relative;}
.sec1 .title .tit1::before {content:'';display:block;width:1110px;height:176px;position:Absolute;left:728px;top:-10px;background:#c0dcf9;opacity:.3}
.sec1 .title .tit1 .cursor {position:relative;height:220px;width:10px;background:#0553f9;position:absolute;left:728px;top:-10px;  animation: blink 1s step-start infinite;}
.sec1 .title .tit1 .cursor::before {content:'';display:block;width:50px;height:50px;background:#0553f9;position:absolute;top:0;border-radius: 50%;left:-19px;top:-49px}
.sec1 .title .tit2 .cursor {position:relative;height:177px;width:10px;background:#0553f9;position:absolute;left:1455px;top:-25px;  animation: blink 1s step-start infinite;}
.sec1 .title .tit2 .cursor::before {content:'';display:block;width:50px;height:50px;background:#0553f9;position:absolute;top: 146px;border-radius: 50%;left: -20px;bottom:-49px;}
.sec1 .title .tit2::before {content:'';display:block;width:1455px;height:176px;position:Absolute;left:5px;top:-25px;background:#c0dcf9;opacity:.3}
.sec1 .title .tit2 {margin-top:50px;}
.sec1 .title::before {content:'';display:block;width:calc(100% + 80px);height:7px;background:#fff;position:absolute;bottom:-36px;left:-40px;}
.sec1 .face {position: absolute;left:50%;top:119px;transform: translateX(-50%);margin-left: 40px;}
.sec1 .middle {position:relative;text-align: center;margin-top:350px;}

.sec2 {margin-bottom: 148px;margin-top:150px;}
.sec2 .tit {text-align: center;}
.sec2 .layer {position:relative;text-align: center;height:860px;width:1730px;background:url(../img/section2/glass-mid.png) no-repeat left 0 top 0#fff;margin:0 auto;border-radius: 20px;margin-top:310px;}
.sec2 .layer .glass-bg {position:absolute;left: 112px;top: -239px;z-index: -1;}
.sec2 .layer .top {position:absolute;left:0;top:0;}
.sec2 .layer .window .win1 {position:absolute;top:200px;left:180px}
.sec2 .layer .window .win2 {position:absolute;top:325px;left:65px}
.sec2 .layer .window .win3 {position:absolute;top:345px;left:750px}
.sec2 .layer .window .win4 {position:absolute;top:130px;left:1162px}
.sec2 .layer .window .win5 {position:absolute;top:420px;left:1195px}

.sec3 .tit {margin-bottom: 122px;}
.sec3 .center {position:relative;text-align: center;}
.sec3 .center .txt-over {position:absolute;left:0;top:0;}
.sec3 .center .txt-over img {position:absolute;}
.sec3 .center .txt-over .tit1 {left:1360px;top:0;}
.sec3 .center .txt-over .tit2 {left:118px;top:200px;}
.sec3 .center .txt-over .tit3 {left:18px;top:953px;}
.sec3 .center .txt-over .tit4 {left:1120px;top:1280px;}
.sec3 .center .txt-over .file {position:absolute;top:1620px;;left:1427px;}

.sec4 {margin-top:146px}
.sec4 .tit {text-align: left;margin-left:1120px;}
.sec4 .window {position:relative;margin-top:-200px;}
.sec4 .window .win1 {margin-left:120px;}
.sec4 .window .win2 {margin-left:900px;margin-top:-340px;}
.sec4 .window .win3 {margin-left:215px;margin-top:-370px;}

.sec5 {margin-top:340px;}
.sec5 .tit {text-align: left;padding-left:158px}
.sec5 .glass {text-align: right;margin-right: 15px;margin-top:-350px;margin-bottom: 120px;}
.sec5 .window {text-align: center;}

.sec6 {margin-top:190px;margin-bottom: 630px;}
.sec6 .rolling-container {margin-top:110px;}

.sec7 {margin-top:305px;}
.sec7 .tit {text-align: left;margin-left:145px;}
.sec7 .face {text-align: right;margin-top:-500px;}
.sec7 .cardList {display:flex;justify-content: center;margin-top:-190px;}
.sec7 .cardList div {position:relative;}
.sec7 .cardList .card1 {margin-top:108px;}
.sec7 .cardList .card2 {margin-left:-85px;margin-top:380px;}
.sec7 .cardList .card3 {margin-left:-85px;margin-top:0;z-index: 2;}
.sec7 .cardList .card4 {margin-left:-155px;margin-top:530px;}
.sec7 .bg {text-align: center;margin-top:-163px;}
.sec7 .imgbg {position:relative;margin-top:-40px}
.sec7 .imgbg .over {text-align: center;position: absolute;left:0;top:176px;;}
.sec7 .tit2 {text-align: center;margin-bottom: 180px;}

.sec8 {background: url(../img/section8/bg.png) no-repeat left 50% top 0;padding-top:420px;margin-top:-377px;padding-bottom: 510px;}
.sec8 .tit {text-align: left;padding-left:200px;padding-bottom: 125px;}
.sec8 .mockup {text-align: center;margin-left:5px;}
.sec8 .mockup2 {position:relative;text-align: center;margin-top:370px;margin-left:20px;}
.sec8 .mockup2 img {position:relative;z-index: 2;}
.sec8 .mockup2 .line {position:absolute;left:-25px;top:4866px;}
.sec8 .mockup2 .line_right {position:absolute;right:-5px;top:4866px;}

.middle_cir {margin-top:-70px;margin-bottom: 230px;}
.sec9 {position:relative;background:url(../img/section9/bg.png) no-repeat left 0 top 110px;padding-top:514px;}
.sec9 .top_tit {position:absolute;left:0;top:-112px;}
.sec9 .tit {text-align: left;padding-left:117px;}
.sec9 .people {position:absolute;left:0;top:0;height:1440px;overflow: hidden;}
.sec9 .mockup {position:relative;z-index: 3;margin-top:-500px;padding-left:85px;}
.sec9 .mockup::before {content:'';display:block;position:absolute;left:0;top:1150px;background:url(../img/section9/bg00.png) no-repeat left 0 top 0;width:1920px;height:1919px;opacity: 1;z-index: -1;}
.sec9 .mockup2 {position:relative;z-index: 3;margin-top:150px}
.sec9 .mockup2 .jelly {right:0;top:920px;position:absolute;}
.sec9 .mockup2::before {content:'';display:block;position:absolute;right:0;top:-123px;background:url(../img/section9/heart.png) no-repeat left 0 top 0;width:718px;height:1337px;opacity: 1;z-index: -1;}
.sec9 .mockup3 {padding-left:200px;padding-top:85px;}
.sec9 .mockup4 {padding-top:140px;padding-bottom: 400px;}

.sec10 {background:#000}
.sec10::before {content:'';display:block;width:100%;height:600px;background:#000;position: absolute;z-index: -1;top:-600px;left:0;}
.sec10 .people {text-align: center;margin-top:220px;position: relative;}
.sec10 .txt {text-align: center;margin-top:-60px;margin-left:50px;margin-bottom: 180px;}
.sec10 .inner {position:relative;}
.sec10 .inner .bg {position:absolute;right:0;top:352px;z-index: 1;}
.sec10 .inner .tit {position:absolute;left:735px;top:467px;z-index: 4}
.sec10 .inner .mockup {position:relative;z-index: 2;}


.sec11 {background:#000;padding-top:200px;padding-bottom: 600px;}
.sec11 .error1 {position:relative;margin-left:570px;;height:490px;}
.sec11 .error1 img {display:block;position:absolute;left:0;top:0;}
.sec11 .error1 img:nth-child(1) {margin-top:0;margin-left:0;}
.sec11 .error1 img:nth-child(2) {margin-top:26px;margin-left:20px;}
.sec11 .error1 img:nth-child(3) {margin-top:52px;margin-left:40px;}
.sec11 .error1 img:nth-child(4) {margin-top:78px;margin-left:60px;}
.sec11 .error1 img:nth-child(5) {margin-top:94px;margin-left:80px;}
.sec11 .error1 img:nth-child(6) {margin-top:120px;margin-left:100px;}
.sec11 .error2 {margin-left:50px;margin-top:50px;background:#000;}
.sec11 .error3 {position:relative;margin-left:719px;;height:905px;margin-top:-1150px;}
.sec11 .error3 img {display:block;position:absolute}
.sec11 .error3 img:nth-child(1) {z-index: 10;}
.sec11 .error3 img:nth-child(2) {margin-top:45px;margin-left:45px;z-index: 9;}
.sec11 .error3 img:nth-child(3) {margin-top:90px;margin-left:90px;z-index: 8;}
.sec11 .error3 img:nth-child(4) {margin-top:135px;margin-left:135px;z-index: 7;}
.sec11 .error3 img:nth-child(5) {margin-top:180px;margin-left:180px;z-index: 6;}
.sec11 .error3 img:nth-child(6) {margin-top:225px;margin-left:225px;z-index: 5;}
.sec11 .error3 img:nth-child(7) {margin-top:270px;margin-left:270px;z-index: 4;}
.sec11 .error3 img:nth-child(8) {margin-top:315px;margin-left:315px;z-index: 3;}
.sec11 .error3 img:nth-child(9) {margin-top:360px;margin-left:360px;z-index: 2;}
.sec11 .error3 img:nth-child(10) {margin-top:405px;margin-left:405px;z-index: 1;}

.sec12 .mock2 {margin-top:122px;margin-left:140px;}

.sec13 {margin-top:85px;}

.sec14 {text-align: center;padding-top:115px;background:#000}

/* animation */
.sec1 .title {opacity: 0;filter: blur(20px);transition:1.4s all;}
.sec1.on .title {opacity: 1;filter: blur(0);transform: translateY(0px);}

.sec1 .title .tit1::before {width:0;transition:.4s all ease-out;transition-delay: .8s;}
.sec1.on .title .tit1::before {width:0;width:1110px;}
.sec1 .title .tit2::before {width:0;transition:.4s all ease-out;transition-delay: 1s;}
.sec1.on .title .tit2::before {width:0;width:1455px;}

.sec1 .cursor {display:none !important;}
.sec1.on2 .cursor {display:block !important;}

.sec1 .middle {opacity: 0;transform: translateY(400px);transition:1s transform, 1s opacity;}
.sec1 .middle.on {opacity: 1;transform: translateY(0px);}

.sec2 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec2 .tit.on {opacity: 1;transform: translateY(0px);}

.sec2 .layer {opacity: 0;transform: translateY(150px);;transition:1.4s all;}
.sec2 .layer img {transform: translateX(-80px);opacity: 0;transition:.8s all;}
.sec2 .layer img:nth-child(1) {transition-delay: .4s;}
.sec2 .layer img:nth-child(2) {transition-delay: .2s;}
.sec2 .layer img:nth-child(3) {transition-delay: .6s;}
.sec2 .layer img:nth-child(4) {transition-delay: .8s;}
.sec2 .layer img:nth-child(5) {transition-delay: 1s;}
.sec2 .layer.on img {transform: translateX(0px);opacity: 1;}
.sec2 .layer.on {opacity: 1;transform: translateY(0px);}

.sec3 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec3 .tit.on {opacity: 1;transform: translateY(0px);}

.sec3 .center  {opacity: 0;transform: translateY(200px);;transition:.9s all;}
.sec3 .center.on {opacity: 1;transform: translateY(0px);}

.sec3 .txt-over img {opacity: 0;transition: .5s ease-out;}
.sec3 .txt-over .tit1 {transform: translateX(100px);}
.sec3 .txt-over .tit2 {transform: translateX(-100px);}
.sec3 .txt-over .tit3 {transform: translateX(-100px);}
.sec3 .txt-over .tit4 {transform: translateX(100px);}
.sec3 .txt-over img.on {opacity: 1;transform: translateX(0);}
.sec3 .txt-over .file  {transform: translateX(100px);}
.sec3 .txt-over .file.on {opacity: 1;transform: translateX(0);}

.sec4 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec4 .tit.on {opacity: 1;transform: translateY(0px);}

.sec4 .win1  {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec4 .win1.on {opacity: 1;transform: translateY(0px);}

.sec4 .win2  {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec4 .win2.on {opacity: 1;transform: translateY(0px);}

.sec4 .win3  {opacity: 0;transform: translateX(-100px);;transition:1.4s all;}
.sec4 .win3.on {opacity: 1;transform: translateX(0px);}

.sec5 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec5 .tit.on {opacity: 1;transform: translateY(0px);}

.sec5 .glass {opacity:0;filter:blur(2px);transition:1.4s all;}
.sec5 .glass.on {opacity: 1;filter:blur(0px);}

.sec5 .window  {opacity: 0;transform: translateY(100px);;transition:3s all;}
.sec5 .window.on {opacity: 1;transform: translateY(0px);}

.sec6 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec6 .tit.on {opacity: 1;transform: translateY(0px);}

.sec7 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec7 .tit.on {opacity: 1;transform: translateY(0px);}

.sec7 .face {opacity:0;filter:blur(2px);transition:1.4s all;}
.sec7 .face.on{opacity: 1;transform: translateY(0px);}

.sec7 .cardList div {opacity: 0;transform: translateY(300px);;transition:.7s transform ease-out, .9s opacity ease-out;}
.sec7 .cardList.on div {opacity: 1;transform: translateY(0px);}
.sec7 .cardList div:nth-child(1) {transition-delay: .1s;}
.sec7 .cardList div:nth-child(2) {transition-delay: .2s;}
.sec7 .cardList div:nth-child(3) {transition-delay: .3s;}
.sec7 .cardList div:nth-child(4) {transition-delay: .4s;}

.sec7 .imgbg img {filter: blur(10px);transform: scale(1.1);transition:1s all;}
.sec7 .imgbg.on img {filter: blur(0px);transform: scale(1);}

.sec7 .tit2 {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec7 .tit2.on {opacity: 1;transform: translateY(0px);}
.sec7 .window {transform: rotate(-5deg);transition:1s all;}
.sec7 .window.on {transform: rotate(0deg);}


.sec8 .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec8 .tit.on {opacity: 1;transform: translateY(0px);}

.sec8 .mockup {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec8 .mockup.on {opacity: 1;transform: translateY(0px);}

.sec8 .mockup2 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec8 .mockup2.on {opacity: 1;transform: translateY(0px);}

.sec9 .tit {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec9 .tit.on {opacity: 1;transform: translateY(0px);}

.sec9 .mockup {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec9 .mockup.on {opacity: 1;transform: translateY(0px);}

.sec9 .mockup2 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec9 .mockup2.on {opacity: 1;transform: translateY(0px);}

.sec9 .mockup3 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec9 .mockup3.on {opacity: 1;transform: translateY(0px);}

.sec9 .mockup4 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec9 .mockup4.on {opacity: 1;transform: translateY(0px);}

.sec10 .mockup {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec10 .mockup.on {opacity: 1;transform: translateY(0px);}


.middle_cir {filter: blur(12px);transition: .7s all ease;}
.middle_cir.on {filter: blur(0);}

.sec10 .people {transform: rotate(-8deg);transition:1s all ease-out;z-index: 2;}
.sec10 .people.on {transform: rotate(0deg);}

.sec10  .txt {filter: blur(12px);transition: .7s all ease;}
.sec10  .txt.on {filter: blur(0);}

.sec10 .inner {opacity: 0;transition:1s opacity ease-out}
.sec10 .inner.on {opacity: 1;}

.sec10 .inner .tit {opacity: 0;transform: translateY(100px);;transition:1.4s all;}
.sec10 .inner .tit.on {opacity: 1;transform: translateY(0px);} 


.sec11 .error1 img {visibility: hidden;}
.sec11 .error1.on img {visibility: visible;}
.sec11 .error1 img:nth-child(1) {transition-delay: .1s;}
.sec11 .error1 img:nth-child(2) {transition-delay: .2s;}
.sec11 .error1 img:nth-child(3) {transition-delay: .3s;}
.sec11 .error1 img:nth-child(4) {transition-delay: .4s;}
.sec11 .error1 img:nth-child(5) {transition-delay: .5s;}
.sec11 .error1 img:nth-child(6) {transition-delay: .6s;}

.sec11 .error3 img {opacity:0;}
.sec11 .error3.on img {opacity:1;}
.sec11 .error3 img:nth-child(1) {transition-delay: .1s;}
.sec11 .error3 img:nth-child(2) {transition-delay: .2s;}
.sec11 .error3 img:nth-child(3) {transition-delay: .3s;}
.sec11 .error3 img:nth-child(4) {transition-delay: .4s;}
.sec11 .error3 img:nth-child(5) {transition-delay: .5s;}
.sec11 .error3 img:nth-child(6) {transition-delay: .6s;}
.sec11 .error3 img:nth-child(7) {transition-delay: .7s;}
.sec11 .error3 img:nth-child(8) {transition-delay: .8s;}
.sec11 .error3 img:nth-child(9) {transition-delay: .9s;}
.sec11 .error3 img:nth-child(10) {transition-delay: 1s;}


.sec12 .mock1 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec12 .mock1.on {opacity: 1;transform: translateY(0px);}

.sec12 .mock2 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec12 .mock2.on {opacity: 1;transform: translateY(0px);}

.sec13 {opacity: 0;transform: translateY(200px);;transition:.7s all ease-out;}
.sec13.on {opacity: 1;transform: translateY(0px);}

.sec14 {filter: blur(12px);transition: .7s all ease;}
.sec14.on {filter: blur(0);}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.rolling-container {
    width: 100%;
    position: relative;
    display: flex;
}

.rolling-container .bg {position:absolute;left:0px;top:63px;}

.rolling-content {
display: flex;
gap: 20px; /* 아이템 간격 */
animation: rolling 30s linear infinite;
}

.user {
flex-shrink: 0; /* 아이템이 줄어들지 않도록 설정 */
width: 1920px; /* 아이템 크기 */
display: flex;
justify-content: center;
align-items: center;
margin-left:267px;
}

.cursor_area {position:relative;text-align: center;}
.cursor_wrap {position:relative;display:inline-block;vertical-align: top;position:absolute;}
.cursor_wrap ~ img {position: relative;z-index: 1;}
.cursor1 {position:absolute;top:-8px;;right:228px;width:355px;height:63px;}
.cursor1 .point {position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;left:-9px;top:-20px;animation: blink 1s step-start infinite;}
.cursor1 span {width:100%;height:100%;background:rgba(84,196,251,0.3);display:block;}
.cursor1 .point::before {content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;top: 17px;background:#0553f9}
.cursor2 {position:absolute;width:547px;height:63px;left:-2px;top:60px;}
.cursor2 span {width:100%;height:100%;background:rgba(84,196,251,0.3);display:block;}
.cursor2 .point {position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.cursor2 .point::before {content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}

.cursor1 span {width:0;transition:.5s all;transition-delay: .4s;}
.cursor2 span {width:0;transition:.5s all;transition-delay: .55s;}

.sec2 .cursor_wrap {width: 1489px;height:114px;}
.sec2 .tit.on span {width:100%}

.sec3 .cursor_wrap {width: 435px;height:61px;}
.sec3 .cursor1 {right:auto;left:-3px;top:59px;width:405px}
.sec3 .cursor1 .point:nth-of-type(2) {left:auto;top:auto;position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.sec3 .cursor1 .point:nth-of-type(2)::before {left:auto;top:auto;content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}
.sec3 .tit.on span {width:100%}

.sec4 .cursor_wrap {width: 435px;height:61px;}
.sec4 .cursor1 {right:auto;left:-3px;top: 186px;width: 506px;}
.sec4 .cursor1 .point:nth-of-type(2) {left:auto;top:auto;position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.sec4 .cursor1 .point:nth-of-type(2)::before {left:auto;top:auto;content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}
.sec4 .tit.on span {width:100%}

.sec5 .cursor_wrap {width: 435px;height:61px;left:0;}
.sec5 .cursor1 {right:auto;left: 157px;top: 177px;width: 538px;}
.sec5 .cursor1 .point:nth-of-type(2) {left:auto;top:auto;position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.sec5 .cursor1 .point:nth-of-type(2)::before {left:auto;top:auto;content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}
.sec5 .tit.on span {width:100%}

.sec6 .cursor_wrap {width: 435px;height:61px;}
.sec6 .cursor1 {right:auto;left:-3px;top: 113px;width: 571px;}
.sec6 .cursor1 .point:nth-of-type(2) {left:auto;top:auto;position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.sec6 .cursor1 .point:nth-of-type(2)::before {left:auto;top:auto;content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}
.sec6 .tit.on span {width:100%}

.sec7 .cursor_wrap {width: 435px;height:61px;left:0;}
.sec7 .cursor1 {right:auto;left: 7px;top: 109px;width: 521px;}
.sec7 .cursor1 .point:nth-of-type(2) {left:auto;top:auto;position:absolute;width:18px;height:18px;background:#0553f9;border-radius: 50%;right:-9px;bottom:-20px;animation: blink 1s step-start infinite;}
.sec7 .cursor1 .point:nth-of-type(2)::before {left:auto;top:auto;content:'';display:block;position:absolute;left: 8px;height: 37px;width:3px;bottom: 17px;background:#0553f9}
.sec7 .tit.on span {width:100%}

@keyframes rolling {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-50%);
}
}